<!DOCTYPE html>

<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>게시글 상세 화면</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h2>게시글 상세 화면</h2>
	    <form id="frm" method="post">
	    	<table class="board_detail">
				<colgroup>
					<col width="15%" />
					<col width="35%" />
					<col width="15%" />
					<col width="35%" />
				</colgroup>
				<caption>게시글 상세내용</caption>
				<tbody>
					<tr>
						<th scope="row">글 번호</th>
						<td th:text="${ board.boardIdx }"></td>
						<th scope="row">조회수</th>
						<td th:text="${ board.hitCount }"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${ board.creatorId }"></td>
						<th scope="row">작성일</th>
						<td th:text="${ #dates.format(board.createdDatetime, 'yyyy년 MM월 dd일') }">
							
						</td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3">
							<input type="text" id="title" name="title" th:value="${ board.title }">
						</td>
					</tr>
					<tr>
						<td colspan="4" class="view_text">
							<textarea title="내용" id="contents" name="contents" th:text="${ board.contents }"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" id="boardIdx" name="boardIdx" th:value="${ board.boardIdx }">
		</form>
		
		<a href="javascript:" id="list" class="btn">목록으로</a>
		<a href="javascript:" id="edit" class="btn">수정하기</a>
		<a href="javascript:" id="delete" class="btn">삭제하기</a>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script type="text/javascript">
	$(function() {

		var form = $('#frm');
		
		$('#list').on('click', function(event) {
			location.href = 'list';
		});

		$('#edit').on('click', function(event) {			
			form.attr("action", 'update');
			form.submit();
		});

		$('#delete').on('click', function(event) {
			if (!confirm($("#boardIdx").val() + "번 글을 삭제할까요?")) {
				return;
			}
			
			//location.href = 'delete?board_idx=' + $("#boardIdx").val()			
			form.attr("action", 'delete');
			$('#title').val("");
			$('#contents').val("");			
			form.submit();
		});
	});
	</script>	

</body>
</html>













